---
title: Whoami
layout: layouts/base.njk
---
<p class="py-6">First of all, I'm not a developer, nor a programmer of some sort...</p>

<p class="py-6">Yeah, u read it right, I just love to experiment stuff, specially those related to the web tech, since it's probably going to be the future and can be accessed by anyone, anywhere, at anytime.</p>