---
title: Whoami
layout: layouts/base.njk
---
<p class="py-6">Howdy, I'm just a simple guy that loves tech related stuff.</p>

<p class="py-6">I'm also enjoying the web development area, I feel that this will be the future as browsers gain more features and applications evolve.</p>

<p class="py-6">Think about it, the web can be accessed by almost every device nowadays, this makes it a great platform to have our applications and work with. Additionally, a "single" codebase works for "everything".</p>

<p class="py-6">High-performance applications are a requirement for me. People are increasingly less patient when waiting for things, that in turn makes them give up easily. With that in mind, I study a lot about SSG (Static Site Generation) and Hydration concepts.</p>

<p class="py-6">I'm always looking for new opportunities to expand my knowledge and, of course, contribute wherever I am.</p>